In [2]:
x = 10
y = 20
z = 10

In [2]:
if x != y:
    print('not equal')

not equal

In [3]:
if x == z:
    print('equal')

equal

In [4]:
if x < y:
    print('x is less then y')

x is less then y

In [5]:
if y > x:
    print('y is greater then x')

y is greater then x

In [6]:
if x <= y and x <= z:
    print('2 conditions')

2 conditions

In [3]:
if y >= x and x <= z:
    print('2 conditions')

2 conditions

In [4]:
if y <= x or x == z:
    print('2 conditions with or')

2 conditions with or

In [5]:
if not x == y:
    print('not part')

not part

In [6]:
if x == z:
    print('equal')

equal

In [7]:
# Cell 1
if x == z: print('equal') #if you have 1 line

equal

In [8]:
# Cell 2
if x == z:
    print('equal')  # always executed lineby line always startingpnt runs first then others
elif x != y:
    print('not equal') # if plan a executed we will not move to plan b

equal

In [9]:
# Cell 3
if x != z:
    print('equal')
elif x == y:
    print('not equal')

In [10]:
# Cell 4
if x != z:
    print('equal')
elif x != y:
    print('not equal')

not equal

In [13]:
# Cell 5
if x != z:
    print('equal')
elif x == y:
    print('not equal')
else:
    print('else part')

else part

In [14]:
# - Ternary operator example
print("if part") if y > x else print("else part")

if part

In [15]:
#  - Ternary operator example
print("if part") if x > y else print("else part")

else part

In [16]:
# Cell 4 - Nested if statement
if x != y:
    print('equal')
    if x < y:
        print('else part')

equal
else part

# For Loop

In [17]:
# Iterate through set2
set2 = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}
for i in set2:
    print(i)

100
70
40
10
80
50
20
90
60
30

In [18]:
# Iterate through set1
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
for i in set1:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# Loop with break statement - stops when i==5
for i in set1:
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [20]:
# Loop with continue statement - skips when i==5
for i in set1:
    if i == 5:
        continue #current stmt skip
    print(i)

0
1
2
3
4
6
7
8
9

In [21]:
# Iterate through each character in a string
for i in 'shridhar':
    print(i)

s
h
r
i
d
h
a
r

In [23]:
# Iterate through numbers 0 to 9 using range
for i in range(10):
    print(i) # isme koi set given nhihota isme ek range de dete h

0
1
2
3
4
5
6
7
8
9

In [25]:
# Print numbers from 5 to 9 (inclusive)
for i in range(5, 10): #start:5,end:n-1
    print(i)

5
6
7
8
9

In [24]:
# Print odd numbers from 1 to 9 (step size 2)
for i in range(1, 10, 2):
    print(i)  # start:1,end:9,gap:2

1
3
5
7
9