#### • Introduction to Dictionary<br>
    ▪ Create a Dictionary,<br>
    ▪ Fetch a value from Dictionary<br>
    ▪ Keys can be Integers too<br>
    ▪ Update value corresponding to a key in a Dictionary<br>
    ▪ Delete Elements from a Dictionary using "del"<br>
    ▪ Delete All the Values from a Dictionary using "clear()"<br>
    ▪ Delete Dictionary completely "del"<br>
#### • Dictionary & It's Methods<br>
    ▪ Length of a Dictionary<br>
    ▪ typev
    ▪ Fetch all Keys<br>
    ▪ Fetch all Values<br>
    ▪ Fetch all items from dictionary<br>
    ▪ Check whether a parcular key exist or not in Dictionary<br>
    ▪ Fetch a value from dict Vs Fetch a value using get() method<br>
  - max() on dictionary<br>  
- Dataset: d= {‘one’ : 34, ‘two’: 93, ‘three’: 71, ‘four’: 100, ‘five’: 100}  <br>
- Dataset: state_population = {'karnataka’: 50000, ‘Maharashtra’: 750000, ‘UP*: 200000, “MP*: 185000}<br>

#### - Nested Dictionary <br>
  - Dataset: (2015: {'Chennai Super Kings': 10, 'Mumbai Indians': 10, 'Royal Challengers Bangalore': 8, 'Sumisers Hyderabad': 7, 'Rajasthan Royals': 7, 'Kolkata Knight Riders': 7, 'Delhi Daredevils': 5, 'Kings XI Punjab': 3}, 2016: {'Sumisers Hyderabad': 11, 'Royal Challengers Bangalore': 9, 'Gujarat Lions': 9, 'Kolkata Knight Riders': 8, 'Delhi Daredevils': 7, 'Mumbai Indians': 7, 'Rising Pune Supergiants': 5, [Kings XI Punjab': 4, 'Chennai Super Kings': 0]) <br>
  - Fetch Values <br>
  - Assign Values <br>
 #### - Update dictionary with another dict <br>
  - Dataset: {'match_id_1': 'SRH', 'match_id_2': 'KKR', 'match_id_3': 'KXIP', 'match_id_4': 'RCB', 'match_id_5': 'MI', 'match_id_6': 'KKR', 'match_id_7': 'RCB'} <br>
  - Keys(): values() <br>
 #### - Create Dictionary Using ZIP Method <br>
 #### - Sets <br>
    - add() <br>
    - update() <br>
    - remove() <br>
    - discard() <br>
    - Diff remove() Vs. discard() <br>
 #### - Tuples <br>
    - Update a Tuple <br>
    - Slice and store in another variable <br>

####    - **if** <br>
  - while <br>
  - range() <br>
  - for <br>
    - List Comprehension <br>
    - Apply on Dictionary <br>
    - Apply on a String <br>

#### - **Reserved Keywords** <br>
    - keyword.kwlist <br>
    - dir(bulltins) <br>

#### - **User Defined Functions** <br>
  - Lambda Functions <br>
  - File.IO Operations <br>

In [2]:
my_dict = {2.5:'zero',2:'two',3:'three',4:'four'}
my_dict #no indexing

{2.5: 'zero', 2: 'two', 3: 'three', 4: 'four'}

In [4]:
my_dict[2] # not indexing just writing the key value here

'two'

In [5]:
my_dict[2] = "TWO"

In [6]:
my_dict

{2.5: 'zero', 2: 'TWO', 3: 'three', 4: 'four'}

#### del my_dict[2] # problem with this is if we forget to give [] so  it will delete the whole dictionary

In [10]:
my_dict

{2.5: 'zero', 3: 'three', 4: 'four'}

In [12]:
my_dict.clear() # if you want to clear dictionary or you want empty dictionary use clear

In [13]:
my_dict

{}

In [14]:
my_dict = {2.5:'zero',2:'two',3:'three',4:'four'}

In [15]:
len(my_dict)

4

In [16]:
type(my_dict)

dict

In [17]:
my_dict.keys() #for only fetching keys

dict_keys([2.5, 2, 3, 4])

In [3]:
my_dict.values()

dict_values(['zero', 'two', 'three', 'four'])

In [4]:
list1 = ['zero', 'two', 'three', 'four'] # we canput any type of data inkey value pair key1 value [1,2,3] etc..

In [5]:
list2 = [1,2,3,4]

In [6]:
dict(zip(list2,list1))

{1: 'zero', 2: 'two', 3: 'three', 4: 'four'}

In [7]:
my_dict.items()

dict_items([(2.5, 'zero'), (2, 'two'), (3, 'three'), (4, 'four')])

In [8]:
for key,val in my_dict.items():
   print(str(key) + '--->' + val) #we can also access only key ,val seperately by print(key)

2.5--->zero
2--->two
3--->three
4--->four

In [10]:
2 in my_dict #to check the availaibility

True

In [18]:
'two' in my_dict.values()

True

In [19]:
my_dict[2]

'two'

In [20]:
my_dict.get(2)

'two'

In [1]:
state_population = {'karnataka': 50000, 'Maharashtra': 750000, 'UP': 200000, 'MP': 185000}

In [2]:
state_population

{'karnataka': 50000, 'Maharashtra': 750000, 'UP': 200000, 'MP': 185000}

In [4]:
max(state_population) #  A<B<C....Z,a<b<...<z small case letters are smaller than capital letter

'karnataka'

In [5]:
max(state_population.values())

750000

In [6]:
max(state_population, key = state_population.get)

'Maharashtra'

In [9]:
ipl = {
    2015: {
        'Chennai Super Kings': 10, 
        'Mumbai Indians': 10,
        'Royal Challengers Bangalore': 8,
        'Sumisers Hyderabad': 7,
        'Rajasthan Royals': 7,
        'Kolkata Knight Riders': 7,
        'Delhi Daredevils': 5,
        'Kings XI Punjab': 3
    },
    2016: {
        'Sumisers Hyderabad': 11,
        'Royal Challengers Bangalore': 9,
        'Gujarat Lions': 9,
        'Kolkata Knight Riders': 8,
        'Delhi Daredevils': 7,
        'Mumbai Indians': 7,
        'Rising Pune Supergiants': 5,
        'Kings XI Punjab': 4,
        'Chennai Super Kings': 0
    }
}

In [10]:
ipl

{2015: {'Chennai Super Kings': 10,
  'Mumbai Indians': 10,
  'Royal Challengers Bangalore': 8,
  'Sumisers Hyderabad': 7,
  'Rajasthan Royals': 7,
  'Kolkata Knight Riders': 7,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3},
 2016: {'Sumisers Hyderabad': 11,
  'Royal Challengers Bangalore': 9,
  'Gujarat Lions': 9,
  'Kolkata Knight Riders': 8,
  'Delhi Daredevils': 7,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Kings XI Punjab': 4,
  'Chennai Super Kings': 0}}

In [11]:
ipl.keys()

dict_keys([2015, 2016])

In [12]:
ipl.values()

dict_values([{'Chennai Super Kings': 10, 'Mumbai Indians': 10, 'Royal Challengers Bangalore': 8, 'Sumisers Hyderabad': 7, 'Rajasthan Royals': 7, 'Kolkata Knight Riders': 7, 'Delhi Daredevils': 5, 'Kings XI Punjab': 3}, {'Sumisers Hyderabad': 11, 'Royal Challengers Bangalore': 9, 'Gujarat Lions': 9, 'Kolkata Knight Riders': 8, 'Delhi Daredevils': 7, 'Mumbai Indians': 7, 'Rising Pune Supergiants': 5, 'Kings XI Punjab': 4, 'Chennai Super Kings': 0}])

In [13]:
ipl[2015][ 'Rajasthan Royals'] = 77

In [14]:
ipl

{2015: {'Chennai Super Kings': 10,
  'Mumbai Indians': 10,
  'Royal Challengers Bangalore': 8,
  'Sumisers Hyderabad': 7,
  'Rajasthan Royals': 77,
  'Kolkata Knight Riders': 7,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3},
 2016: {'Sumisers Hyderabad': 11,
  'Royal Challengers Bangalore': 9,
  'Gujarat Lions': 9,
  'Kolkata Knight Riders': 8,
  'Delhi Daredevils': 7,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Kings XI Punjab': 4,
  'Chennai Super Kings': 0}}

In [15]:
ipl_another = {'match_id_1': 'SRH', 'match_id_2': 'KKR', 'match_id_3': 'KXIP', 'match_id_4': 'RCB', 'match_id_5': 'MI', 'match_id_6': 'KKR', 'match_id_7': 'RCB'}

In [16]:
ipl_another

{'match_id_1': 'SRH',
 'match_id_2': 'KKR',
 'match_id_3': 'KXIP',
 'match_id_4': 'RCB',
 'match_id_5': 'MI',
 'match_id_6': 'KKR',
 'match_id_7': 'RCB'}

In [18]:
ipl.update(ipl_another)

In [19]:
ipl

{2015: {'Chennai Super Kings': 10,
  'Mumbai Indians': 10,
  'Royal Challengers Bangalore': 8,
  'Sumisers Hyderabad': 7,
  'Rajasthan Royals': 77,
  'Kolkata Knight Riders': 7,
  'Delhi Daredevils': 5,
  'Kings XI Punjab': 3},
 2016: {'Sumisers Hyderabad': 11,
  'Royal Challengers Bangalore': 9,
  'Gujarat Lions': 9,
  'Kolkata Knight Riders': 8,
  'Delhi Daredevils': 7,
  'Mumbai Indians': 7,
  'Rising Pune Supergiants': 5,
  'Kings XI Punjab': 4,
  'Chennai Super Kings': 0},
 'match_id_1': 'SRH',
 'match_id_2': 'KKR',
 'match_id_3': 'KXIP',
 'match_id_4': 'RCB',
 'match_id_5': 'MI',
 'match_id_6': 'KKR',
 'match_id_7': 'RCB'}

In [20]:
ipl.keys()

dict_keys([2015, 2016, 'match_id_1', 'match_id_2', 'match_id_3', 'match_id_4', 'match_id_5', 'match_id_6', 'match_id_7'])

In [21]:
list1 = ['zero', 'two', 'three', 'four']

In [22]:
list2 = [1,2,3,4]

In [23]:
dict(zip(list2,list1))

{1: 'zero', 2: 'two', 3: 'three', 4: 'four'}

In [24]:
list(zip(list2,list1))

[(1, 'zero'), (2, 'two'), (3, 'three'), (4, 'four')]

# Sets

In [2]:
my_set = {1,1,1,2,3,3,4,5,5,5,6,6,7,7,8,8} #immutable

In [4]:
my_set   #don't repeat values

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
myList = [1,1,1,2,3,3,4,5,5,5,6,6,7,7,8,8]

In [6]:
myList

[1, 1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 6, 7, 7, 8, 8]

In [8]:
list(set(myList))

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
my_set.add(9)

In [11]:
my_set  #it do not have order

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
my_set.remove(4)  #when you give value which is not present it will give error but discard will not giive any error

In [13]:
my_set

{1, 2, 3, 5, 6, 7, 8, 9}

In [14]:
my_set.discard(5) #two ways to delete remove and discard
my_set

{1, 2, 3, 6, 7, 8, 9}

In [15]:
set = {11,22,33,41,2}

In [18]:
my_set.update(set)

In [19]:
my_set

{1, 2, 3, 6, 7, 8, 9, 11, 22, 33, 41}

# Tuple

In [20]:
my_tuple = (1,2,3,4,5,5) #immutable but double allowed

In [21]:
my_tuple

(1, 2, 3, 4, 5, 5)

In [22]:
my_tuple[2]

3

TypeError: 'tuple' object does not support item assignment

In [24]:
tuple = my_tuple[1:4]

In [25]:
tuple

(2, 3, 4)

In [ ]:
if(condition):{
    stmt
    stmt  #other lang
    stmt
    stmt
    
}

In [ ]:
if(condition):
    stmt
    stmt
    stmt  #python
    stmt
    
stmt

In [26]:
x=5

In [27]:
if(x>2):
    print("x is greater than 2")
print("less than 2")

x is greater than 2
less than 2

In [28]:
if(x<2):
    print("x is greater than 2")
print("less than 2")

less than 2

In [31]:
if(x>2):
    print("x is greater than 2")
elif(x <4):
     print("x is less than 4")
elif(x <5):
     print("x is less than 5")
else:
     print("x is less than 4")
print("i am outside the block")

x is greater than 2
i am outside the block

In [ ]:
initialization of that varibale 
while(condition) : #loop
    stmt
    stmt
    stmt  #python
    increment/decrement
    
stmt

In [36]:
x = 0
while(x<=10):
    print(x)
    x +=1

0
1
2
3
4
5
6
7
8
9
10

In [37]:
x = 10
while(x>=0):
    print(x)
    x -=1

10
9
8
7
6
5
4
3
2
1
0

In [40]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
[i for i in range(1,11)] #better way [List COmprehension]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
x=(1,2,3,4,5,6)

In [46]:
for i in x:
    print(i)

1
2
3
4
5
6

In [47]:
my_dict = {0:'zero', 1:'one'}

In [50]:
for key,value in my_dict.items() :
    print(key,value)

0 zero
1 one

In [52]:
for key,value in my_dict.items() :
    print(str(key) + "==>" +value)

0==>zero
1==>one

In [53]:
for key in my_dict.keys() :
    print(str(key))

0
1

In [57]:
for i in "machine  learning":
    print(i)

m
a
c
h
i
n
e


l
e
a
r
n
i
n
g

In [58]:
[i for i in "Machine learning"]

['M',
 'a',
 'c',
 'h',
 'i',
 'n',
 'e',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g']